# Database configuration (Supabase)
# postgresql://[user]:[password]@[host]:[port]/[database]
DATABASE_URL=postgresql://postgres:password@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres

# Server Environment
ENVIRONMENT=development

# Secret Key (for JWT auth later)
SECRET_KEY=your-secret-key-here